/* styles to make the video responsive */
.video-wrapper {
	position: relative;
	padding-bottom: 53.75%; /* for 16:9, set to 56.25% */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
